

%section__header{

	display: block;
	@include util-clearfix;
	@include block; 

}


%section__heading{

	text-align: center;
	@include block;	

}


%section__row{

	@include util-clearfix;
	@include block;  

}


%section__column{

	display: block;  
	margin: 0px auto;

	@include max-screen( map-get( $screen-sizes, sm ) ){

		display: block;
		text-align: center;
		max-width: 90%;

	}  


	@include block; 


}


%section__inner{

	@include util-container;
	@include block;

}


%section__inner %section__inner{

	padding-left: 0px;
	padding-right: 0px;

}