


%hero{

	display: block;
	width: 100%;
	background-color: #ccc;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;  
	position: relative;

	@include min-screen( map-get( $screen-sizes, sm ) ){

		height: 100%;

	}

	@include max-screen-height( 700px ){

		height: auto;

	}

	@include block;

}