

%hero__inner{

	height: inherit;
	width: 100%;
	position: relative;
	z-index: 1;
	@include util-container( map-get( $layout-container-sizes, lg ) );

	@include block;

}

%hero__body{ 

	display: block;
	width: 100%;
	padding: 100px 0px;
	height: inherit;

	@include min-screen( map-get( $screen-sizes, sm ) ){

		padding: 0px;
		display: table;

	}

	@include max-screen-height( 700px ){

		padding: 100px 0px;
		height: inherit;

	}

	@include block;	

}


%hero__content{

	display: block;
	width: 100%;
	color: inherit;

	@include min-screen( map-get( $screen-sizes, sm ) ){

		display: table-cell;
		vertical-align: middle;

	}

	@include block;	

}


%hero__heading{

	text-align: center;
	@include block;

}


%hero__footer{

	position: absolute;
	bottom: 0px;
	width: 100%;
	display: block;
	z-index: 1;

	@include max-screen( map-get( $screen-sizes, sm ) ){

		display: none;

	}

	@include block;

}	



%hero__skip{

    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -24px;
    @include block;

    @include min-screen( map-get( $screen-sizes, ml ) ){

    	bottom: 40px;

    }
}
