

%menu__item, %menu__controls{

	float: none;
	margin: 0px auto;
	display: block;
	text-align: center;

	@include min-screen( map-get( $screen-sizes, sm ) ){

	    display: inline-block;		

	}

	@include block;

}

%menu__controls{

	float: left;
	padding: 10px 0px;
	display: none;

}


%menu__action{

	display: block;
	cursor: pointer;
	text-align: center;
	
	@include block;

}

