

%action__text{
  font-size: .9em;
  @include block;
}

%action__icon{
  display: inline-block;
  @include single-transition( all, .3s, ease-in-out );
  @include block;
}

%action__icon + %action__text,
%action__text + %action__icon{
  margin-left: .3em;
}

%action__label{
  height: 100%;
  width: 2em;
  position: absolute;
  left:     0px;
  @include single-transition( all, .3s, ease-in-out );
  @include block;
}

%action__section{
  height: 103%;
  display: block;
  position: relative;
  @include block;
}
