

%action__text{

   @include util-text( $text-md );
   @include block;

}


%action__icon{

   @include util-text( $text-lg );

   $lh: ( $text-sm * 1.5 );
   $lf: -($text-sm / 2 );

   @include util-rem( line-height, $lh );
   @include util-rem( left, $lf );
   position: relative;
   letter-spacing: 0px;
   
   @include block;

}


