


%action--signal{
  @include _p-button-circle;
  @include block;
}

%action--labelled{
  padding-left: 2.75em;
  @include block;
}

%action__label--action{
  box-shadow: inset 0px -10px 50px rgba(0,0,0,.2);
  @include block;
}

%action--extended{
  
  height: 3.7em;  
  padding: 0px 1.5em;
  @include block;  
}

%action--revealer{
  padding: 0px;
  @include block;
}


%action--loading{
  visibility: visible;
  @include block;
}

%action--loader{
  display: inline-block;
  overflow: visible;
  @include block;
}



%action--signal %action__text{
  position: absolute;
  left: -1000px;
  margin: 0px;
}

%action--signal %action__icon{
  margin: 0px auto;
}

%action--extended%action--labelled{
  
  padding-left: 4.5em;
  
}

%action--extended %action__label{
  
  width: 3.5em;
  
}

%action--extended %action__label %action__icon{
  
  line-height: 3.7em;
  font-size: 1.5em;
  position: relative;
  top: -.75em;
  
}

%action--extended %action__text{
  
  text-align: left;
  
}

%action--extended %action__body,
%action--extended %action__section{
  
  padding: .5em 0px;
  
}

%action--revealer %action__body{
  
  padding: 0px;
  
}

%action--revealer %action__section{
  
  padding-left: 1em;
  padding-right: 1em;
  
}

%action--revealer%action--labelled %action__section{
  
  padding-left: 2.75em;
  
}

%action--revealer%action--extended %action__section{
  
  padding-left: 1.5em;
  padding-right: 1.5em;
  
}

%action--revealer:hover %action__section{
  
  @include transform( translateY( -2.25em ) );
  
}


%action--extended%action--revealer:hover %action__section{
  
  @include transform( translateY( -3.7em ) );
  
}



%action--loader %loader{
  display: none;
  position: absolute;
  bottom: 100%;
  left: 0px; 
  width: 100%;
}

%action--loading %loader{
  display: block;
}

%action--extended%action--labelled%action--revealer{
  padding-left: 3.5em;
}

%action--extended%action--labelled%action--revealer %action__section{
  margin-left: -3.5em;
  padding-left: 4.5em;
}

//base button default
%action--child{
    @include _p-button-basic( #fff );
    @include block;
}

//minimal action plain-text link
%action--min{

  @include _p-button-text( #fff );
  @include block;  

}

//action color variants
@each $name, $color in $action-colors{

    %action--#{$name}{
        @include _p-button-standard( $color, #fff );
        @include block;
    }

    %action--#{$name}%action--child{
        @include _p-button-basic( $color );
    }

    %action--#{$name}%action--min{
        @include _p-button-text( $color );
    }    

}

//minimal action plain-text link
%action--min{

  &, &:hover, &:active{
    background: transparent;
    border-color: transparent;
    box-shadow: none;
  }

}


