

$layout-rem-spacing: (
    xxs : .5,
    xs  : .67,
    sm  : .83,
    md  : 1.1,
    lg  : 1.33,
    xl  : 1.5,
    xxl : 2
);


$layout-rect-rem-spacing: (
    xxs : util-rect-sizing( map-get( $layout-rem-spacing, xxs ) ),
    xs  : util-rect-sizing( map-get( $layout-rem-spacing, xs ) ),
    sm  : util-rect-sizing( map-get( $layout-rem-spacing, sm ) ),
    md  : util-rect-sizing( map-get( $layout-rem-spacing, md ) ),
    lg  : util-rect-sizing( map-get( $layout-rem-spacing, lg ) ),
    xl  : util-rect-sizing( map-get( $layout-rem-spacing, xl ) ),
    xxl : util-rect-sizing( map-get( $layout-rem-spacing, xxl ) )
);

$layout-container-sizes : (
    lg : 1300px,
    md : 700px,
    sm : 350px
);