

$colors : (
    primary   : #5C5CFF,
    success   : #5CB85C,
    info      : #5BC0DE,
    warning   : #F0AD4E,
    danger    : #D9534F,
    footer    : #333,
    twitter   : #4099FF,
    linked-in : #007bb6,
    facebook  : #3b5998,
    github    : #333
);
