
$text-colors: (
    overlay  : #fff,
    default  : #000,
    default2 : #333
);

//text size modifiers
$text-sizes: (
    p1 : 2em,
    p2 : 1.8em,
    p3 : 1.4em,
    p4 : 1em,
    p5 : .8em 
);

//heading size modifiers
$heading-sizes: (
    p1 : 3em,
    p2 : 2.8em,
    p3 : 2.65em,
    p4 : 2.55em,
    p5 : 2.4em 
);

//font family groups
$font-styles: (
	default : 'Open Sans, sans-serif',
	lead    : 'Lato, sans-serif',
	lead2   : 'Yanone Kaffeesatz, sans-serif',
	action  : 'Lato, sans-serif'
);

 
$heading-colors: (
    overlay  : map-get( $text-colors, overlay ),
    default  : map-get( $text-colors, default ),
    default2 : map-get( $text-colors, default2 )
);


$font-weights: (
    default  : normal,
    lead     : bold,
    lead2    : normal
);