

%control-group__item{
	margin: 0px auto;
	display: inline-block;
	@include block;
}


%control-select__options{

	max-height: 250px;
	max-width: 100%;
	display: table;
	border-radius: 3px;
	overflow-y: auto;
	@include block;
}