

@mixin _p-button(){
	
  $size:      1em; 
	$height:   ($size * 2);

	font-size:     $size;
	height:        $height+.25; 
	line-height:   $height;
	padding:       0px $size;
	display:       inline-block;
	cursor:        pointer; 
  position:      relative;
  text-align:    center;
  @include       single-transition( all, .3s, ease-in-out );
  margin-bottom: $size/2;
  margin-right:  $size/4;
  overflow:      hidden;
  vertical-align: middle;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); 
  border-radius: .15em;

}

@mixin _p-button-circle{
  
  $size: 1em;
  $size: $size*2+.3;
  
  height: $size;
  width:  $size;
  line-height: $size;
  border-radius: 50%;
  padding: 0px;
  
}


@mixin _p-button-style( $text-color, $border, $bg, $radius: false ){
  
	  border: $border;
	  background: $bg;
    color: $text-color;
  
    @if($radius){
        border-radius: $radius;
    }

}


@mixin _p-button-size( $size ){

	font-size: $size;

}


@mixin _p-button-basic( $color ){

  @include _p-button-style( $color, .1em solid $color, transparent );
  box-shadow: none;
  
  //only apply hover styles when button is not disabled
  
  &:hover{
    
    @include _p-button-style( $color,
                              .1em solid lighten($color,4%),
                              transparent );
   
  }
  
  &:active,
  [class*="--active"]{
    
    @include _p-button-style( $color,
                              .1em solid lighten($color,5%),
                              transparent );
        
  }  

  [class*="--disabled"]:active,
  [class*="--disabled"]:hover{

    @include _p-button-style( $color, .1em solid $color, transparent );

  }


}

@mixin _p-button-text( $color ){

  @include _p-button-style( $color, .1em solid transparent, transparent );
  box-shadow: none;
  border-radius: 0px;
  margin: 0px;

  //only apply hover styles when button is not disabled
  
  &:hover{
    
    @include _p-button-style( darken( $color, 5% ), .1em solid transparent, transparent );
   
  }
  
  &:active,
  [class*="--active"]{
    
    @include _p-button-style( darken( $color, 5% ), .1em solid transparent, transparent );
    
  }  

  [class*="--disabled"]:active,
  [class*="--disabled"]:hover{

    @include _p-button-style( $color, .1em solid transparent, transparent );

  }

}

@mixin _p-button-text-touch( $color ){


  @include _p-button-style( $color, .1em solid transparent, transparent );
  box-shadow: none;
  border-radius: 0px;
  margin: 0px;


  &:hover{

    @include _p-button-style( #fff, .1em solid transparent, lighten( $color, 10% ) );

  }

  &:active{

    @include _p-button-style( #fff, .1em solid transparent, lighten( $color, 5% ) );

  }

  [class*="--disabled"]:active,
  [class*="--disabled"]:hover{

    @include _p-button-style( $color, .1em solid transparent, transparent );
    opacity: .9;

  }  

}


@mixin _p-button-standard( $color, $text ){

  @include _p-button-style( $text, .09em solid darken($color, 5%), $color );
  
  //only apply hover styles when button is not disabled
  
  &:hover{
    
    @include _p-button-style( $text, 
                              .09em solid lighten($color,4%),
                              lighten($color,4%) );
   
  }
  
  &:active,
  [class*="--active"]{
    
    @include _p-button-style( $text, 
                              .09em solid darken($color,5%),
                              darken($color,5%) );  
    
    
    
  }

  &[class*="--disabled"]:active,
  &[class*="--disabled"]:hover{

    @include _p-button-style( $text, .09em solid darken($color, 5%), $color );
    
  }
  
}
